.inline-b {
    display: inline-block;
}

.card {
    margin-bottom: 20px;
}

.container {
    margin: 20px auto;
}

.img-thumbnail {
    margin-bottom: 20px;
}

.thumb-img {
    width: 100%;
    max-height: 226px;
}

.alert {
    text-align: center;
}

#new-camp-title {
    text-align: center;
}

#add-new-camp {
    width: 40%;
    margin: 30px auto;
}