img {
    min-height: 100%;
    min-width: 100%;
}

.cutoff {
    max-height: 250px;
    width: 100%;
    overflow: hidden;
}

.bg-light {
    background-color: #f0f1f2!important;
}

.inline-b {
    display: inline-block;
}

.card {
    margin-bottom: 20px;
}

.card-body {
    background: #e9ecef;
}

.custom-grey {
    background: #e9ecef;
}

.btn-customred {
    background: #ffebeb;
}

.container {
    margin: 20px auto;
}

.img-thumbnail {
    margin-bottom: 20px;
}

.thumb-img {
    width: 100%;
    max-height: 226px;
}

.alert {
    text-align: center;
}

#new-camp-title {
    text-align: center;
}

#add-new-camp {
    width: 40%;
    margin: 30px auto;
}